<!--
* Created by kaushik on 21.11.15.
* for ordering the column values based on input from user.
* The user will order the values in the performance column.
* This is the view file.

-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Recommender</title>
    <script src="../bower_components/react/react-dom.js"></script>
    <script src="../bower_components/react/react.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/babel/browser.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/jquery-validation/dist/jquery.validate.js"></script>


    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/material.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/material-fullpalette.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/ripples.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/roboto.css">
    <link rel="stylesheet" href="../bower_components/flat-ui/dist/css/flat-ui.css">
    <script src="../bower_components/flat-ui/dist/js/flat-ui.js"></script>
    <script src="../bower_components/flat-ui/docs/assets/js/application.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/flexBox.css'/>
</head>





<script type="text/babel">

    $( document ).ready(function() {
        $.ajax({
            url: '/column_values_ordering/column_values_ordering_post',
            type: 'POST',
            dataType: 'json',
            data: $('#sliderHead').serialize(),
            success: function (data, textStatus, jqXHR) {
                console.log("success post column_values_ordering");
                var htmlData = '';
                if (data) {
                    var len = data.length;

                    var txt = '<div class="table-bordered " ><thead><div class=" row"><div class="col-md-2 text-center">Name</div><div class="col-md-6 text-center">Value</div></div></thead><br><br>';
                    console.log('length is' + len);
                    console.log(data);
                    var columnValues = data[0].values;
                    //console.log(columnValues);
                    for (var i = 0; i < columnValues.length; i++) {
                        console.log(columnValues[i]);
                        txt += '<div class="row">';
                        txt += '<div class="col-md-2 text-center" >' + columnValues[i].value + '</div>';
                        txt += '<div id="slider'+i+'" class="col-md-6 sliders"  ></div>';
                        txt += '</div>';
                    }
                    txt+="</table>";
                    console.log(txt);
                    $('#sliderHead').append(txt);
                    var maxLength = columnValues.length;
                    for(i=0;i<maxLength;i++){
                        var $slider = $("#slider"+i);
                        console.log($slider);
                        if ($slider.length > 0) {
                            $slider.slider({
                                min: 0,
                                max: maxLength,
                                value: maxLength/2,
                                orientation: "horizontal",
                                range: "min",
                                change: setPerfValueInJson(i)
                            }).addSliderSegments($slider.slider("option").max);//.change(setPerfValueInJson(i));
                        }
                    }

                }
            },

            error: function (jqXHR, textStatus, errorThrown) {

            }
        });
    });

function setPerfValueInJson(id){
    console.log("inside setPerfValue function "+id);
    /*


     */
}
</script>


<body >

<div id="sliderHead" class="container">


</div>
</body>
</html>