<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Recommender</title>
    <script src="../bower_components/react/react-dom.js"></script>
    <script src="../bower_components/react/react.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/babel/browser.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/ripples.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/material.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/material-fullpalette.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/ripples.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/roboto.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/flexBox.css'/>
</head>
<body>
<br/><br/><br/>
<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <div class="well bs-component">
            <div class="row">
                <div class="col-md-7">
                    <a href="/dataupload" class="btn btn-info btn-lg">Upload new data set and proceed</a>
                </div>
                <div class="col-md-5">
                    <a href="/datasourceselection" class="btn btn-info btn-lg">Proceed with existing datasets</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <a href="/start" class="btn btn-warning">Back</a>
            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>
</body>

</html>