<script type="text/javascript">
    $( document ).ready(function() {
        //console.log($("#headerdiv").text());
        $("#"+$("#headerdiv").text()+"").addClass('active');
    });
</script>
<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Recommender<div class="ripple-container"></div></a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="" id="datasourceselection" ><a href="/datasourceselection">1. Data Selection<div class="ripple-container"></div></a></li>
                <li class="" id="columnpreprocessor"><a href="/coloumnpreprocessor">2. Preprocessing<div class="ripple-container"></div></a></li>
                <li class="" id="columnDragDrop"><a href="javascript:void(0)">3. Prioritizing Performance Columns<div class="ripple-container"></div></a></li>
                <li class="" id="recommender"><a href="/recommender">4. Recommendation<div class="ripple-container"></div></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="" id="username"><a href="javascript:void(0)"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<%=data%><div class="ripple-container"></div></a></li>
                <div id="logoutbox"><a href="/logout"><button id="btn-logout" type="button" class="btn btn-logout">Logout</button></a></div>
            </ul>
        </div>
    </div>
</div>