<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.home.css">
  <title>MORPHO - The Knowledge Engine</title>
</head>
<body>

  <!-- Header Start -->
  <header>
    <section id="section-1">
      <!-- Logo -->
      <a href="/"><img class="logo" src="images/logo.png" alt="Metisa"/></a>
      <ul class="navbar">
        <li><a href="#section-2">What We Do</a></li>
        <li><a href="#section-3">Visual Analytics</a></li>
        <li><a href="#section-4">Let's talk</a></li>
        <li><a href="/start"><button type="button" class="btn btn-signin">Log In</button></a></li>
      </ul>
      <div class="section-1-text">
        <span class="slogan">Find answers in data.</span><br>
        <span class="slogan_descr">Morpho gives you the tools to interpret <br> a variety of datasets.</span><br>
        <div class="btn-letstalk">
          <a href="/start"><button type="button" class="btn btn-letstalk">Start</button></a>
        </div>
      </div>
      <div class="nextbtn"><script> $( document ).ready(function() {$.scrollify.next();})</script></div>
    </section>
  </header>
  <!-- /Header End -->

  <!--Section 1: Uncover Gems Within Your Data-->
  <section id="section-2">
    <div class="section-2-content">
      <h1>Discover Gems Within Your Data</h1>
      <span class="description">Morpho helps you make sense of data to make quantified decisions and find unique insights.</span><br>

      <div class="section-2-img-container">
        <div class="section-2-ask col-md-4">
        <img class="section-2-pics" src="images/ask.png" alt="Ask">
        <span class="section-2-little-header">Ask</span>
        <span class="section-2-usp">Find answers to critical <br> questions that are objective and backed <br>by data rather than opinion.</span>
</div>
<div class="section-2-extract col-md-4">
        <img class="section-2-pics" src="images/extract.png" alt="Extract"/>
        <span class="section-2-little-header">Extract</span>
        <span class="section-2-usp">Extract and aggregate data<br> from public and internal sources into <br> our engine that powers<br> analytics.</span>
</div>
<div class="section-2-interpret col-md-4">
        <img class="section-2-pics" src="images/interpret.png" alt="Interpret"/>
        <span class="section-2-little-header">Interpret</span>
        <span class="section-2-usp">Visualisation and analytical<br> engine for interactive, human centered <br>data interpretation.</span>
        <div>

      </div>


    </div>
  </section>
  <!--/Section 1 End-->

  <!--Section 2: Visual Analytics-->
  <section id="section-3">
    <div class="section-3-content">
      <h1>Visual Analytics</h1>
      <span class="description">Understand complex data with ease by using state of the art parallel coordinates visualization.</span>
      <div class="section-3-img-container">
        <img src="images/datamining.png" alt="Data Mining powered by Metisa" width="550px"/>
      </div>
    </section>
  </div>
  <!--/Section 2 End-->

  <!--Section 3: Let's Talk-->
  <section id="section-4">
    <div class="section-4-content">
      <div class="section-4-text">
        <h1>Let's talk</h1>
        <span class="description">Leave a message and let us know, how we can help you.</span>
      </div>
      <div class="section-4-content-container">
        <div class="section-4-img-container col-md-6">
          <div class="section-4-img">
            <img src="images/mail.png" alt"Let's talk">
          </div>
        </div>

        <div class="section-4-mail-container col-md-6">
          <div class="input-group">
            <input type="text" size="50" class="form-control" placeholder="Name" aria-describedby="basic-addon1">

            <input type="text" size="50" class="form-control" placeholder="E-mail" aria-describedby="basic-addon1">

            <input type="text" size="50" class="form-control" placeholder="Company" aria-describedby="basic-addon1">
            
            <input type="text" size="50" class="form-control" placeholder="What solutions are you looking for?" aria-describedby="basic-addon1">

            <button class="btn btn-primary send-email">Send</button>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Section 3 End-->

  <!--Section 4: Footer-->
  <section id="section-5">
    <div class="section-5-content">
      <span class"footer-descr"><strong>&copy; Morpho</strong><br>
        Chair for Informatics 19 - SEBIS, Boltzmannstrasse 3, 85748 Garching <br>
        WS 2015 / 2016</span>
      </div>
    </section>
    <!--/Section 4 End-->
  </body>
  </html>