<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta charset="utf-8">
    <title>Recommender</title>
    <script src="../bower_components/react/react-dom.js"></script>
    <script src="../bower_components/react/react.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/babel/browser.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="../bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="/javascripts/d3.parsets.js"></script>
    <script src="/javascripts/highlight.min.js"></script>
    <script src="/javascripts/d3.parcoords.js"></script>
    <script src="/javascripts/d3.svg.multibrush.js"></script>

    <link rel="stylesheet" href="../bower_components/jquery-ui/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/material.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/material-fullpalette.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/ripples.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/roboto.css">
    <link rel='stylesheet' href='/stylesheets/flexBox.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/d3.parsets.css' />
    <link rel='stylesheet' href='/stylesheets/d3.parcoords.css' />

</head>
<body>
<div id="headerdiv" style="display: none;">recommender</div>
<%include header.ejs%>
<script type="text/javascript">
    $( document ).ready(function() {

        $.material.init();
        $.ajax({
            url: 'http://localhost:3000/recommender/get-data',
            dataType: 'json',
            cache: false,
            success: function(data) {

                // console.log(data)
                var datahtml='';
                var colhtml='';
                for (i=0;i<data.length;i++){
                    var datahtml='';
                    var colhtml='';
                    // console.log(data[i].column_header.name);
                    var colData =data[i].column_data;
                    datahtml= datahtml+('<div class ="child-recommend header-recommend tile-title"  id="'+ data[i].column_header.id +'" >'+ data[i].column_header.name +'</div>');
                    for(j=0;j<colData.length;j++){
                        //  console.log(colData[j].value);
                        colhtml=colhtml+('<div class ="child-recommend specs-recommend" id="'+colData[j].id+'" isSelected="false">'+colData[j].value +'</div>');
                    }
                    var htmlDivs = '<div class="divcover" filtered="false">'+datahtml+colhtml +'</div>';
                    $("#mainDataDiv").append(htmlDivs);
                }


            }.bind(this),
            error: function(xhr, status, err) {
                console.error(this.props.url, status, err.toString());
            }.bind(this)
        });
        $('.parentContainer').on('click', '.specs-recommend', function(){
            // do something
            console.log('inside');
            console.log($(this).attr('id'));
                if($(this).attr('isSelected') == 'false')
                {
                    $(this).addClass( "selected-recommendation" );
                    $(this).attr('isSelected','true')
                }else if($(this).attr('isSelected') == 'true'){
                    $(this).removeClass( "selected-recommendation" );
                    $(this).attr('isSelected','false')
                }

        });
        function drawVisualization(dimensions, filename){
            //console.log(dimensions);
            //console.log(filename);
            var ht=window.screen.availHeight;
            var width=window.screen.availWidth;
            var chart = d3.parsets()
                    .dimensions(dimensions)
                    .width(width-200)
                    .height(ht);
            var vis = d3.select("#vis").append("svg")
                    .attr("width", chart.width())
                    .attr("height", chart.height());

            d3.json("../data?filename="+filename+"", function(error, csv) {
                vis.datum(csv).call(chart);
            });
        }
        //on click of submit button
        $( "#recommendBtn" ).click(function() {
            if( $('div[isselected="true"]').length >0){
                selectedItems=[];
                $('#selecteditemsdiv').empty();
                $('#vis').empty();
               // $("#recommend-matrix").css("display","none");
                $("#recommend-graph").css("display","block");
                var itemsHtml = '';
                $('div[isselected="true"]').each(function() {
                    console.log($( this ).text());
                    selectedItems.push($( this ).attr('id'));
                    itemsHtml =itemsHtml +('<span class="label label-default">'+$( this ).text() +'</span>&nbsp;&nbsp;')
                });
                $('#selecteditemsdiv').append(itemsHtml);
                //dimennsions = ["Company Name", "Phone Name", "Camera", "Clock Rate", "Battery Capacity", "Multiple SIM Cards"]
                //fileName = 'data1.csv'
               // drawVisualization(dimennsions, fileName);
                console.log(selectedItems);
                var data =
                {
                    "selected_items": selectedItems
                }
                $.ajax({
                    url : "http://localhost:3000/recommender/prepareJson",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data : JSON.stringify(data),
                    cache: false,
                    success: function(data, textStatus, jqXHR)
                    {

                        //console.log(data.filename);
                        //console.log(data.columns);
                        if(data.success == true){
                         drawVisualization(data.columns, data.filename);
                            $('#ui-id-1').trigger('click');
                            //$('html, body').animate({ scrollTop: $('#recommend-graph').offset().top }, 'slow');
                        }
                        else{
                            $("#visualizationWarning").css("display","block");
                        }

                    },
                    error: function (jqXHR, textStatus, errorThrown)
                    {

                    }
                });



            }
            else{
                $("#recommendertWarning").css("display","block");
            }

        });

        $( "#recommendBackBtn" ).click(function() {
            selectedItems=[];
           // $("#recommend-matrix").css("display","block");
           // $("#recommend-graph").css("display","none");
        });
        $( "#recommenderWarningBtn" ).click(function() {

            $("#recommendertWarning").css("display","none");
        });
        $( "#visualizationWarningBtn" ).click(function() {

            $("#visualizationWarning").css("display","none");
        });
        var icons = {
            header: "ui-icon-circle-arrow-e",
            activeHeader: "ui-icon-circle-arrow-s"
        };
        $( "#accordion" ).accordion({
            collapsible: true,
            heightStyle: "content",
            icons: icons
        });
    });

    d3.json('recommender/get-all-data', function(data) {
        var colorgen = d3.scale.ordinal()
                .range(["#0000ff","#ff0000","#00ff00",
                    "#00ffff","#ffff00","#ff00ff","#ff7f00",
                    "#cab2d6","#6a3d9a","#ffff99","#b15928"]);
        $.ajax({
            url : "http://localhost:3000/recommender/get-parallel-coords-column-metadata",
            type: "GET",
            cache: false,
            success: function(colData, textStatus, jqXHR)
            {
                var color = function(data) { return colorgen(data[colData.dimensions[0]]); };
                var parcoords = d3.parcoords()("#example")
                        .data(data)
                        //.hideAxis(["_id"])
                        .types(colData.types)
                        .dimensions(colData.dimensions)
                        .color(color)
                        .alpha(0.3)
                        .composite("darken")
                        .margin({ top: 24, left: 10, bottom: 10, right: 0 })
                        .mode("queue")
                        .render()
                        .brushMode("1D-axes-multi")
                        .alphaOnBrushed(0.4)
                        ;
                        
                parcoords.svg.selectAll("text")
                    .style("font", "10px sans-serif");
            },
            error: function (jqXHR, textStatus, errorThrown)
            {

            }
        });
        
    });
</script>
<div class="well bs-cpmponent">
    <div id="recommendertWarning" class="alert alert-dismissible alert-warning" style="display: none">
        <button id="recommenderWarningBtn" type="button" class="close" >×</button>
        <h4>Warning!</h4>
        <b>Please select atleast one item to proceed!</b>
    </div>
    <div id="visualizationWarning" class="alert alert-dismissible alert-warning" style="display: none">
        <button id="visualizationWarningBtn" type="button" class="close" >×</button>
        <h4>Oops!</h4>
        <b>Something went wrong, please try again!</b>
    </div>
    <div id="example" class="parcoords" style="width:1350px;height:830px"></div>
    <div id="accordion" class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Value Matrix</h3>
        </div>
        <div class="panel-body" style="height: inherit;">
            <div id="recommend-matrix" style="display: block;">
                <div class="row">
                    <div class="col-md-10">
                        <legend>Select required items and click Submit for recommendations</legend>
                    </div>
                    <div class="col-md-2">
                        <button id="recommendBtn" class="btn btn-lg btn-primary">Submit<div class="ripple-wrapper"></div></button>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <div id="mainDataDiv" class="parentContainer" style="max-height: 300px; overflow-y: auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="recommend-graph" style="display: none;">
        <div class="row">
            <div class="col-md-10">
                <legend>Recommendation</legend>
            </div>
            <div class="col-md-2">
                <!--<button id="recommendBackBtn" class="btn btn-lg btn-primary">Back<div class="ripple-wrapper"></div></button>-->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Selected values</h4>
                <div id="selecteditemsdiv" style="max-width: 500px; overflow: auto;height: 50px; ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="vis">
                </div>
            </div>
        </div>
    </div>
</div>




</body>

</html>