
.parentContainer {
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.child{
    vertical-align: middle;
    border: 1px ridge darkgrey;
    text-align: center;
    height: 80px;
}


.header{
    background-color: darkblue;
    color: white;
    height: 40px;
}

.specs{
    color: #2f4154;
    background-color: lightblue;
}

.header-recommend{
    background-color:#03a9f4;
    color: white;
    height: 40px;
}

.specs-recommend{
    color: #2f4154;
    background-color: aliceblue;
}

.selected-recommendation{
    background-color: lawngreen;
}