p{
    color: crimson;
}

.phoneList{
    display: flex;
    border: 3px solid #2f4154;
    justify-content: center;
    align-items: stretch;
}

.phone{
    vertical-align: middle;
    border: 1px ridge darkgrey;
    text-align: center;
}

.header{
    background-color: #2f4154;
    color: white;
}

.specs{
    color: #2f4154;
    background-color: #148f77;
}