/* Font */
@font-face {
font-family: "Proxima Nova Light";
src: url(../fonts/ProximaNova-Light.otf); }

@font-face {
font-family: "Proxima Nova Regular";
src: url(../fonts/ProximaNova-Regular.otf); }

/* start.ejs view */

html, body {
  font-family: "Proxima Nova Light";
  background-color: white;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

a {
  color: whitesmoke;
}

.navbar{
  margin-bottom: 0px!important;
  background-image: url(../images/header_bg.png);
  background-size: cover;
  width: 100%;
}

#startproceed, #backbtn, #uploadinfoBtn, #uploadtWarningBtn, #selectdataprcd, #uploadnewdata {
float: center;
margin-top: 20px;
font-family: "Proxima Nova Regular";
color: #42B89E;;
background-color: white;
padding: 6px 40px;
border: 1px solid #42B89E; }

/* datasourceselection.ejs view */

.datasourceselection {
	margin-top: 30px;
}